.footer {
  color: color(text, color-2);
  padding: 0;
  border-color: transparent;
  .region-footer-top {
    position: relative;
    padding: 10px 0;
    width: 100%;
    margin: 0 0 -15px;
    &:before {
      width: 100%;
      left: -10%;
      z-index: 0;
      content: "";
      position: absolute;
      bottom: 0;
      height: 100%;
      transform: skew(30deg);
      background-color: color(background, color-2);
    }
    .block-views-blocksocial-networks-block-1 {
      font-size: map-get($sizes, "thumb");
      position: relative;
      .block-title {
        display: inline-block;        
        margin-right: 10px;
      }
      .form-group {
        display: inline-block;
        a {
          color: color(text, color-2);
          margin-left: 5px;
          margin-right: 5px;
        }
      }
    }
  }
  .footer-wrapper {
    background: color(background, color-4);
    .region-footer {
      padding-top: 50px;
      display: block;
      h2 {
        color: color(text, color-4);
        font-size: map-get($sizes, "thumb");
        text-transform: uppercase;
      }
      #block-views-block-company-contact-information-block-2 {
        width: 100%;
        font-size: map-get($sizes, "small");
      }
      #block-compania {
        margin-right: 15px;
      }
    }
    .region-footer-bottom {
      border-top: 1px solid color(border, color-3);
      font-size: map-get($sizes, "small");
      padding: 10px 0;
      margin-top: 10px;
    }
  }
}



@include mq-min(sm) {
}
@include mq-min(md) {
  .footer {
    .region-footer-top {
      padding: 20px 30px;
      &:before {
        left: -50%;
      }
    }
    .footer-wrapper {
      .region-footer {
        display: flex;
        #block-views-block-company-contact-information-block-2 {
          width: 30%;
          margin-right: 15px;
        }
      }
    }
  }
}
@include mq-min(lg) {
  
}
@include mq-min(xl) {
  
}