.header {
  background: color(background, color-3);
  border: 0;
  border-radius: 0;
  margin: 0;
  .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
  }
  .navbar-nav {
    margin: 0;
    li {
      border-bottom: 1px solid color(text, color-2);
      margin: 0 25px;
      a {
        background-color: transparent;
        color: color(text, color-4);
        font-weight: 500;
        padding: 15px 0;
        transition: all .8s;
        &.active-trail {
          color: color(text, color-4);
          background-color: transparent;
        }
        &:hover {
          background-color: transparent !important;
          color: color(text, color-4) !important;
        }
      }
      &:after {
        content: "";
        height: 5px;
        background: color(background, color-8);
        width: 0;
        position: absolute;
        bottom: 0;
        right: -1px;
        transition: all .8s;
      }
      &.active-trail {
        &:after {
          content: "";
          height: 5px;
          background: color(background, color-8);
          width: calc(100% + 2px);
          position: absolute;
          bottom: 0;
          left: -1px; 
        }
      }
      &:hover {
        a {
        }
        &:after {
          content: "";
          transform-origin: right;
          right: auto;
          left: 0;
          width: 100%;
        }
      }
    }
  }
  .middle-area {
    .region-header-top {      
      display: table;
      float: left;
      vertical-align: middle;
      margin: 0;
      position: relative;
      z-index: 9;
      transition: all .8s linear;
      &:before, &:after {
        content: "";
        background: color(background, color-1);
        position: absolute;
        bottom: 0;
        height: 100%;
        z-index: -1;
      }
      &:before {
        transform: skew(-30deg);
        right: -50px;
        width: 100%;
        border-right: 3px solid color(border, color-1);
      }
      &:after {
        right: 0;
        width: 2000px;
      }
      .logo {
        width: 200px;
        margin-top: 10px;
        img {
          width: 100%;
        }
      }
      a {
        display: table-cell;
        vertical-align: middle;
      }
    }
    .region-header-top-right {
      .block-views-blockcompany-contact-information-block-1 {
        display: none;
      }
      .views-row {
        font-weight: 500;
      }
      .sidebar-toggle {
        border-color: transparent;
        background: transparent;
        position: relative;
        transform: rotate(0);
        transition: 0.5s ease-in-out;
        cursor: pointer;
        margin-top: 12px;
        .icon-bar {
          background-color: color(background, color-2);
          transform: rotate(0);
          transition: 0.25s ease-in-out;
          position: absolute;
          opacity: 1;
          left: 0;
          margin: 0;
          &:nth-child(2) {
            top: 0;
          }
          &:nth-child(3) {
            top: 7px;
          }
          &:nth-child(4) {
            top: 14px;
          }
        }
        &.open {
          .icon-bar {
            &:nth-child(2) {
              top: 7px;
              transform: rotate(135deg);
            }
            &:nth-child(3) {
              opacity: 0;
              left: -60px;
            }
            &:nth-child(4) {
              top: 7px;
              transform: rotate(-135deg);
            }
          }
          &:after {
            background-color: rgba(0, 0, 0, 0.3);
            content: "";
            height: 100%;
            left: 0;
            position: fixed;
            right: -20px;
            top: -63px;
            transform: scale(100);
            width: 100%;
            z-index: -1;
            transition: all 0.5s;
            transform-origin: top right;
            margin: 0 0 0 20px;
            box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.6);
          }
        }
      }
    }
  }
  .main-bar-wraper {
    overflow-y: scroll;
    position: fixed;
    width: 60px;
    left: -280px;
    height: 100vh;
    transition: all .5s;
    top: 0;
    background: color(background, color-1);
    margin: 0;
    z-index: 99;
    .main-bar {
      .region-header-main-right {
        &:before, &:after {
          width: 100%;
          content: "";
          position: absolute;
          bottom: 0;
          height: 100%;
          z-index: -1;
          background: color(background, color-1);
        }
        &:before {
          left: -25px;
          transform: skew(30deg);
        }
        &:after {
          right: -50px;
        }
        .social-network {
          font-size: map-get($sizes, "half");
          a {
            color: color(text, color-4);
          }
        }
      }
    }
    &.show {
      left: -1px;
      transition: all 0.8s;
      margin: 0;
      width: 280px;
      .container-fluid {
        padding: 0;
      }
      .logo {
        display: block;
        float: none !important;
        padding: 30px 15px;
        margin: auto;
        text-align: center;
      }
      .view-id-social_networks {
        margin-top: 20px;
        text-align: center;
        .social-network {
          .fa {
            width: 28px;
            height: 28px;
            padding: 0;
            line-height: 28px;
            background-color: color(background, color-2);
            border-radius: 4px;
          }
        }
      }
    }
  }
}



.navbar-default{
    &.container {
        max-width: 100%;
        width: 100%;
    }
    .navbar-collapse{
        margin: 0;
        padding: 0;
    }
}

.menu{
    li{
        display: inline-block;
        a{
           color: color(controls, base);
           &:hover,
           &:focus{
            background: none;
           }
        }
    }
}


@include mq-min(sm) {
}
@include mq-min(md) {
  .header {
    .container-fluid {
      padding-left: 50px;
      padding-right: 50px;
    }
    .navbar-nav {
      margin: 0;
      li {
        border: 1px solid color(text, color-2);
        border-width: 0 0 0 1px;
        padding: 5px 15px;
        margin: 0;
        &:last-child {
          border-right: 1px solid color(text, color-2);
        }
      }
    }
    .middle-area {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .region-header-top {
        padding-top: 5px;
        &:before {
          right: -140px;
        }
        &:after {
          right: -230%;
        }
        .logo {
          width: auto;
          margin-top: 0;
        }
      }
    }
    .main-bar-wraper {
      display: block;
      background: color(background, color-2);
      overflow: initial;
      position: initial;
      width: auto;
      height: auto;
      .main-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo {
          display: none;
        }
        .region-header-main {
          width: 75%;
        }
        .region-header-main-right {
          position: relative;
          width: 25%;
          float: right;
          padding: 12px 0 10px 0;
          z-index: 9;
          display: flex;
          .block {
            margin: 0 15px;
          }
          .social-network {
            margin: 0 5px;
            a {
              color: color(text, color-3);
            }
            &:last-child {
              margin: 0;
            }
          }
        }
      }
    }
  }
}
@include mq-min(lg) {
  .header {
    .middle-area {
      .region-header-top {
        padding: 15px 0 2px;
        width: 200px;
        max-width: 200px;
        &:after {
          right: 10%;
        }
      }
      .region-header-top-right {
        .block-views-blockcompany-contact-information-block-1 {
          display: block;
          font-size: map-get($sizes, "small");
        }
        .views-row {
          display: flex;
          justify-content: space-between;
          align-items: center;
          .views-field {
            padding: 0 10px;
            &:before {
              font-size: map-get($sizes, "half");
              display: inline-block;
              margin-right: 5px;
              color: color(text, color-3);
            }
            &:first-child {
              padding-left: 0;
            }
            &:last-child {
              padding-right: 0;
            }
          }
          .field-phone {
            &:before {
              vertical-align: middle;
            }
            a {
              color: color(text, color-1);
            }
          }
          .field-office-hours {
            &:before {
              content: "\f017";
              vertical-align: super;
            }
            ul {
              display: inline-block;
              margin: 0;
              padding: 0;
              list-style: none;
            }
          }
          .field-address {
            &:before {
              vertical-align: super;
            }
            .fields {
              display: inline-block;
            }
          }
        }
      }
    }
  }
}
@include mq-min(xl) {
  
}







@include mq-max(sm) {
    .navbar-default{
        .container{
            .navbar-toggle{
                background-color:transparent;
                border:none;
                position: absolute;
                right: -10px;
                top: 3px;
                @include prefix(transition, transform .5s ease-in-out, webkit moz o ms);
                span{
                    left: 0;
                    opacity: 1;
                    position: relative;
                    @include prefix(transform, rotate(0deg), webkit moz o ms);
                    &:nth-child(2),
                    &:nth-child(4){
                        @include prefix(transition, transform .5s ease-in-out, webkit moz o ms);
                    }
                    &.sr-only{
                        display: none;
                    }
                }
                &:not(.collapsed){
                    top: 3px;
                    span{
                       &:nth-child(2){
                            left: 12px;
                            position: absolute;
                            opacity: 0.9;
                            top: 13px;
                            @include prefix(transform, rotate(135deg), webkit moz o ms);
                        } 
                        &:nth-child(3){
                            background-color: transparent;
                            height: 12px;
                            visibility: hidden;
                        }
                        &:nth-child(4) {
                            left: 12px;
                            opacity: 0.9;
                            position: absolute;
                            top: 9px;
                            @include prefix(transform, rotate(-135deg), webkit moz o ms);
                        }
                    }
                }
            }
            .navbar-collapse{
                background: color(grayscale, gray-1);
                display: block;
                height: 100%;
                overflow: inherit;
                position:fixed;
                top: 55px;
                right: -100%;
                width: 100%;
                z-index: 9;
                @include prefix(transition, all .5s, webkit moz o ms);
                &.collapsing{
                    display: block;
                    height: 100%!important;
                    width: 100%;
                }
                &.in{
                    right: -0px;
                    top: 55px;
                    @include prefix(transition, all .5s, webkit moz o ms);
                }
                &.out{
                    right: 10px;
                    @include prefix(transition, all .5s, webkit moz o ms);
                }
            }
        }
    }
    .menu{
        li{
            display: block;
        }
    }
}