
*, 
*:before, *:after {
	box-sizing: border-box;
}
html {
  height: 100%;
}

body {
  font-family: $font-family-brand;
  font-size: $font-size;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

p {
  margin-bottom: map-get($sizes, "base");
}

h1, h2, h3, h4, h5, h6{
  font-weight: bold;
  margin-bottom: map-get($sizes, "base");
}

h1{
  font-size: map-get($sizes, "huge");
}
h2{
  font-size: map-get($sizes, "xlarge");
}
h3{
  font-size: map-get($sizes, "large");
}
h4{
  font-size: map-get($sizes, "medium");
}
h5{
  font-size: map-get($sizes, "half");
}
h6{
  font-size: map-get($sizes, "thumb");
}
.title{
  @extend %titles;
}
.subtitle{
  @extend %subtitles;
}
.secundary-subtitle{
  @extend %secondary-subtitles;
}
ol,
ul{
  margin-bottom: map-get($sizes, "base");
  padding-left: map-get($sizes, "half");
}

ol{
  counter-reset: item;
  list-style: none;
  li{
    &:before{
      counter-increment: item;
      content: counters(item, ".") ". ";
    }
  }
}

h1{
    font-size: map-get($sizes, "medium");
}
h2{
  font-size: map-get($sizes, "half");
}
h3{
  font-size: map-get($sizes, "thumb");
}
h4{
  font-size: map-get($sizes, "base");
}
h5{
  font-size: map-get($sizes, "small");
}
h6{
  font-size: map-get($sizes, "tiny");
}

.main-container {
  .region-content {
    section {
      padding-top: 20px;
      .block-title {
        font-weight: 600;
        font-size: map-get($sizes, "half");
        margin: 15px 15px 10px;
        text-align: center;
      }
      .seperater {
        position: relative;
        margin: 0 auto map-get($sizes, "half");
        width: 60px;
        &:before, &:after {
          position: absolute;
          content: '';
          height: 2px;
          background-color: color(background, color-5);
        }
        &:before {          
          left: 0px;
          top: 0px;
          width: 60px;
        }
        &:after {
          left: 10px;
          top: 6px;
          width: 40px;
        }
      }
    }
  }
}
.social-network {
  display: inline-block;
}
.view-company-contact-information {
  .views-field {
    &:before {
      font: normal normal normal 12px/1 FontAwesome;
      font-size: map-get($sizes, "half");
    }
  }
  .field-phone {
    &:before {
      content: "\f095";
    }
    a {
      line-height: 24px;
    }
  }
  .field-address {
    &:before {
      content: "\f041";
    }
  }
}
.slick-brands {
  .brand-gruop {
    padding: 15px
  }
}
.view {
  .view-header {
    width: 70%;
    text-align: center;
    margin: auto;
    p {
      font-size: map-get($sizes, "tiny");
      color: color(text, color-5);
      margin-bottom: 15px;
    }
  }
  .more-link {
    text-align: center;
    margin-top: map-get($sizes, "tiny");
  }
}
.view-product-cageries {
  .product-type {
    border: 1px solid color(border, color-4);
    border-radius: 4px;
    .views-field-field-image {
      img {
        border-radius: 4px 4px 0 0;
      }
    }
    .fields-text {
      padding: map-get($sizes, "base");
      .views-field-name {
        height: 40px;
        font-weight: 600;
        a {
          color: color(text, color-1);
        }
      }
      .views-field-description {
        p {
          color: color(text, color-5);
          font-size: map-get($sizes, "base");
        }
      }
    }
  }
}
.view-services {
  .service {
    padding: 35px 20px;
    background: #fff;
    margin-bottom: 30px;
    box-shadow: 5px 5px 20px 0 rgba(0,0,0,.05);
    .views-field-title {
      font-weight: 600;
      font-size: map-get($sizes, "base");
      margin-top: map-get($sizes, "base");
      a {
        color: color(text, color-1);
      }
    }
    .views-field-body {
      color: color(text, color-5);
      font-size: map-get($sizes, "small");
    }
  }
}
.view-industry {
  .industry {
    position: relative;
    .views-field-field-image {
      border-radius: 4px;
    }
    .views-field-title {
      position: absolute;
      bottom: -25px;
      width: calc(100% - 20%);
      left: 10%;
      z-index: 1;
      .field-content {
        background-color: color(background, color-2);
        margin-top: 0;
        border-radius: 4px;
        font-size: map-get($sizes, "base");
        padding: 12px 50px 12px 30px;
        position: relative;
        font-weight: 500;
        margin-bottom: 0;
        a {
          color: color(text, color-4);
        }
      }
      &:after {
        content: "\f105";
        width: 40px;
        height: 40px;
        background: #fff;
        position: absolute;
        right: 6px;
        color: #000;
        text-align: center;
        top: 50%;
        transform: translateY(-50%);
        line-height: 40px;
        font-family: FontAwesome;
      }
    }
  }
}
.block-content--type-statistics {
  color: color(text, color-4);
  .field--items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .paragraph--type--statistic {
      padding: 40px 20px;
      border-radius: 10px;
      border: 1px solid color(border, color-3);
      transition: all .8s;
      margin: 0 10px;
      text-align: center;
      overflow: hidden;
      .field--name-field-image {
        border-bottom: 2px solid color(border, color-7);
        padding-bottom: 15px;
        margin: auto 30px;
      }
      .field--name-field-number {
        font-size: map-get($sizes, "xlarge");
        line-height: 50px;
        font-weight: 600;
        letter-spacing: 3px;
        margin-top: 10px;
      }
      .field--name-field-name {
        font-size: map-get($sizes, "base");
        text-transform: uppercase;
        font-weight: 500;
      }
      &:after {
        content: '';
        height: 0;
        width: 100%;
        background-color: color(background, color-7);
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
        transform-origin: top;
        transition: all .8s;
      }
      &:hover {
        border-color: color(border, color-7);
        transform: translateY(-15px);
        &:after {
          height: 100%;
          top: auto;
          bottom: 0;
          transform-origin: bottom;
        }
      }
    }
  }
  .bs-region--left, .bs-region--right {
    position: relative;
    z-index: 1;
  }
  .bs-region--left {
    .field--name-body {
      margin-top: 30%;
      font-size: map-get($sizes, "medium");
      position: absolute;
    }
  }
  .bs-region--right {
    .field--name-field-statistics {
      margin-top: 5%;
      position: absolute;
    }
  }
  .bs-region--bottom {
    padding: 0 !important;
    width: 100vw;
    margin-left: 50% !important;
    transform: translateX(-50vw);
    img {
      width: 100%;
    }
  }
}
#block-views-block-brands-block-1 {
  .views-row {
    text-align: center;
    .views-field-field-image {
      img {
        display: inline-block;
      }
    }
  }
}
#block-highlight {
  padding: 0 !important;
  width: 100vw;
  margin-left: 50% !important;
  transform: translateX(-50vw);
  .fields-text {
    position: relative;
    color: color(text, color-4);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .field--name-field-body {
      position: absolute;
      margin-top: 20%;
      display: flex;
      flex-direction: column;
      flex-basis: 100%;
      flex: 1;
      font-size: map-get($sizes, "half");
      width: 50%;
      p {
      }
    }
    .hl-links {
      margin-top: 20px;
      .btn {
        font-size: map-get($sizes, "thumb");
      }
    }
  }
  .field--name-field-image {
    img {
      width: 100%;
    }
  }
}
.path-frontpage {
  .page-header {
    display: none;
  }
}
.path-node {
  .field--name-field-cover {
    padding: 0 !important;
    width: 100vw;
    margin-left: 50% !important;
    transform: translateX(-50vw);
  }
  .field--name-node-title {
    text-align: center;
    margin: 20px 0;
  }
}
.img-effect-zoom {
  overflow: hidden;
  img {
    transition: all .8s;
    box-shadow: 0 0 0 transparent;
  }
  &::before {
    width: 100%;
    height: 100%;
    opacity: 0;
    content: '';    
    background: color(background, color-6);
    position: absolute;
    left: 0;
    top: 0;
    transition: all .8s linear;
    z-index: 1;
  }
  &:hover {
    img {
      transform: scale(1.2);
    } 
    &:before {
      opacity: .5;
    }
  }
}


@include mq-min(sm) {
  
}
@include mq-min(md) {
  .main-container {
    .region-content {
      section {
        .block-title {
          font-size: map-get($sizes, "large");
        }
      }
    }
  }
}
@include mq-min(lg) {
  
}
@include mq-min(xl) {
  
}