
*, 
*:before, *:after {
	box-sizing: border-box;
}
html {
  height: 100%;
}

body {
  font-family: $font-family-brand;
  font-size: $font-size;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

p {
  margin-bottom: map-get($sizes, "base");
}

h1, h2, h3, h4, h5, h6{
  font-weight: bold;
  margin-bottom: map-get($sizes, "base");
}

h1{
  font-size: map-get($sizes, "huge");
}
h2{
  font-size: map-get($sizes, "xlarge");
}
h3{
  font-size: map-get($sizes, "large");
}
h4{
  font-size: map-get($sizes, "medium");
}
h5{
  font-size: map-get($sizes, "half");
}
h6{
  font-size: map-get($sizes, "thumb");
}
.title{
  @extend %titles;
}
.subtitle{
  @extend %subtitles;
}
.secundary-subtitle{
  @extend %secondary-subtitles;
}
ol,
ul{
  margin-bottom: map-get($sizes, "base");
  padding-left: map-get($sizes, "half");
}

ol{
  counter-reset: item;
  list-style: none;
  li{
    &:before{
      counter-increment: item;
      content: counters(item, ".") ". ";
    }
  }
}

h1{
    font-size: map-get($sizes, "medium");
}
h2{
  font-size: map-get($sizes, "half");
}
h3{
  font-size: map-get($sizes, "thumb");
}
h4{
  font-size: map-get($sizes, "base");
}
h5{
  font-size: map-get($sizes, "small");
}
h6{
  font-size: map-get($sizes, "tiny");
}

.main-container {
  .region-content {
    section {
      padding-top: 20px;
      .block-title {
        font-weight: 600;
        font-size: map-get($sizes, "half");
        margin: 15px;
        text-align: center;
      }
    }
  }
}
.social-network {
  display: inline-block;
}
.view-company-contact-information {
  .views-field {
    &:before {
      font: normal normal normal 12px/1 FontAwesome;
      font-size: map-get($sizes, "half");
    }
  }
  .field-phone {
    &:before {
      content: "\f095";
    }
    a {
      line-height: 24px;
    }
  }
  .field-address {
    &:before {
      content: "\f041";
    }
  }
}
#block-highlight {
  padding: 0 !important;
  width: 100vw;
  margin-left: 50% !important;
  transform: translateX(-50vw);
  .fields-text {
    position: relative;
    color: color(text, color-4);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .field--name-field-body {
      position: absolute;
      margin-top: 20%;
      display: flex;
      flex-direction: column;
      flex-basis: 100%;
      flex: 1;
      font-size: map-get($sizes, "half");
      width: 50%;
      p {
      }
    }
    .hl-links {
      margin-top: 20px;
      .btn {
        font-size: map-get($sizes, "thumb");
      }
    }
  }
  .field--name-field-image {
    img {
      width: 100%;
    }
  }
}
.path-node {
  .field--name-field-cover {
    padding: 0 !important;
    width: 100vw;
    margin-left: 50% !important;
    transform: translateX(-50vw);
  }
  .field--name-node-title {
    text-align: center;
    margin: 20px 0;
  }
}


@include mq-min(sm) {
  
}
@include mq-min(md) {
}
@include mq-min(lg) {
  
}
@include mq-min(xl) {
  
}