
*,
*:before, *:after {
	box-sizing: border-box;
}
html {
  height: 100%;
}

body {
  font-family: $font-family-brand;
  font-size: $font-size;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  background-color: color(background, color-8);
}

p {
  margin-bottom: map-get($sizes, "base");
}

h1, h2, h3, h4, h5, h6{
  font-weight: bold;
  margin-bottom: map-get($sizes, "base");
}

h1{
  font-size: map-get($sizes, "huge");
}
h2{
  font-size: map-get($sizes, "xlarge");
}
h3{
  font-size: map-get($sizes, "large");
}
h4{
  font-size: map-get($sizes, "medium");
}
h5{
  font-size: map-get($sizes, "half");
}
h6{
  font-size: map-get($sizes, "thumb");
}
.title{
  @extend %titles;
}
.subtitle{
  @extend %subtitles;
}
.secundary-subtitle{
  @extend %secondary-subtitles;
}
ol,
ul{
  margin-bottom: map-get($sizes, "base");
  padding-left: map-get($sizes, "half");
}

ol{
  counter-reset: item;
  list-style: none;
  li{
    &:before{
      counter-increment: item;
      content: counters(item, ".") ". ";
    }
  }
}

h1{
    font-size: map-get($sizes, "medium");
}
h2{
  font-size: map-get($sizes, "half");
}
h3{
  font-size: map-get($sizes, "thumb");
}
h4{
  font-size: map-get($sizes, "base");
}
h5{
  font-size: map-get($sizes, "small");
}
h6{
  font-size: map-get($sizes, "tiny");
}

.main-container {
  .region-content {
    section {
      .block-title {
        font-weight: 600;
        font-size: map-get($sizes, "half");
        margin: 15px 15px 10px;
        text-align: center;
      }
      .seperater {
        position: relative;
        margin: 0 auto map-get($sizes, "half");
        width: 60px;
        &:before, &:after {
          position: absolute;
          content: '';
          height: 2px;
          background-color: color(background, color-5);
        }
        &:before {
          left: 0px;
          top: 0px;
          width: 60px;
        }
        &:after {
          left: 10px;
          top: 6px;
          width: 40px;
        }
      }
    }
  }
}
.social-network {
  display: inline-block;
}
.commerce-cart-block--type-button {
  position: relative;
  .commerce-cart-block--summary__icon {
    font-size: map-get($sizes, "medium");
    color: color(text, color-3);
    line-height: 1;
  }
  .commerce-cart-block--summary__label {
    font-size: map-get($sizes, "tiny");
    height: 15px;
    line-height: 15px;
    min-width: 15px;
    padding: 0;
    position: absolute;
    right: -7px;
    text-align: center;
    top: -5px;
    border-radius: 10px;
    color: color(text, color-4);
    background-color: color(background, color-9);
    font-weight: 500;
  }
}

.view-company-contact-information {
  .views-field {
    &:before {
      font: normal normal normal 12px/1 FontAwesome;
      font-size: map-get($sizes, "half");
    }
  }
  .field-phone {
    &:before {
      content: "\f095";
    }
    a {
      line-height: 24px;
    }
  }
  .field-address {
    &:before {
      content: "\f041";
    }
  }
}
.slick-brands {
  .brand-gruop {
    padding: 15px
  }
}
.view {
  .view-header {
    width: 70%;
    text-align: center;
    margin: auto;
    p {
      font-size: map-get($sizes, "tiny");
      color: color(text, color-5);
      margin-bottom: 15px;
    }
  }
  .more-link {
    text-align: center;
    margin-top: map-get($sizes, "tiny");
  }
}
.view-product-cageries {
  .product-type {
    background-color: color(background, color-1);
    border: 1px solid color(border, color-4);
    border-radius: 4px;
    .views-field-field-image {
      img {
        border-radius: 4px 4px 0 0;
      }
    }
    .fields-text {
      padding: map-get($sizes, "base");
      .views-field-name {
        height: 50px;
        font-weight: 600;
        border-bottom: 1px solid rgba(0,0,0,.1);
        a {
          color: color(text, color-1);
        }
      }
      .views-field-description {
        p {
          color: color(text, color-5);
          font-size: map-get($sizes, "base");
        }
      }
      .views-field-view-taxonomy-term {
        margin-top: 10px;
        background-color: color(background, color-9);
        a {
          color: color(text, color-4);
        }
      }
    }
  }
  .more-link {
    margin-top: map-get($sizes, "base");
  }
}
.view-services {
  .service {
    padding: 10px;
    background: #fff;
    margin-bottom: 30px;
    box-shadow: 5px 5px 20px 0 rgba(0,0,0,.05);
    .views-field-title {
      font-weight: 600;
      font-size: map-get($sizes, "small");
      margin-top: map-get($sizes, "base");
      height: 30px;
      a {
        color: color(text, color-1);
      }
    }
    .views-field-body {
      display: none;
    }
  }
}
.view-id-brands.view-display-id-block_1 {
  .view-content {
    display: flex;
    justify-content: space-around;
  }
}
.view-clients {
  .views-field.views-field-field-image {
    margin: map-get($sizes, "tiny");
  }
}
.view-industry {
  .industry {
    position: relative;
    margin-bottom: map-get($sizes, "large");
    .views-field-field-image {
      border-radius: 4px;
    }
    .views-field-title {
      position: absolute;
      bottom: -25px;
      width: calc(100% - 12%);
      left: 6%;
      z-index: 1;
      .field-content {
        background-color: color(background, color-2);
        margin-top: 0;
        border-radius: 4px;
        font-size: map-get($sizes, "tiny");
        padding: 10px 50px 10px 10px;
        position: relative;
        font-weight: 500;
        margin-bottom: 0;
        a {
          color: color(text, color-4);
        }
      }
      &:after {
        content: "\f105";
        width: 20px;
        height: 20px;
        background: #fff;
        position: absolute;
        right: 6px;
        color: #000;
        text-align: center;
        top: 50%;
        transform: translateY(-50%);
        line-height: 20px;
        font-family: FontAwesome;
      }
    }
  }
}
.view-products {
  .product {
    background-color: color(background, color-1);
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
    .fields-text {
      padding: map-get($sizes, "base");
      .views-field-sku {
        color: color(text, color-3);
        border-bottom: 1px solid rgba(0,0,0,0.1);
        padding-bottom: 10px;
        margin-bottom: 10px;
        font-size: map-get($sizes, "tiny");
        font-weight: 500;
        text-transform: uppercase;
      }
      .views-field-title {
        a {
          color: color(text, color-1);
          font-size: map-get($sizes, "thumb");
        }
      }
      .fields-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .commerce-order-item-add-to-cart-form {
          margin: 0;
        }
      }
    }
  }
}
.view-products-categories-link {
  .view-content {
    display: flex;
    justify-content: center;
    .views-field-name {
      a {
        border: 2px solid color(border, color-9);
        border-radius: 4px;
        margin: 20px 10px;
        padding: 5px;
        display: block;
        color: color(text, color-9);
        font-weight: 600;
        font-size: map-get($sizes, "tiny");
        transition: all .8s linear;
        &:hover {
          background: color(background, color-9);
          color: color(text, color-4);
        }
      }
    }
    .row-active {
      .views-field-name {
        a {
          background: color(background, color-9);
          color: color(text, color-4);
        }
      }
    }
  }
}
.block-content--type-statistics {
  color: color(text, color-4);
  .field--items {
    .paragraph--type--statistic {
      padding: 40px 20px;
      border-radius: 10px;
      border: 1px solid color(border, color-1);
      transition: all .8s;
      margin: 0 10px;
      text-align: center;
      overflow: hidden;
      .field--name-field-image {
        border-bottom: 2px solid color(border, color-1);
        padding-bottom: 15px;

        img {
          margin: auto;
        }
      }
      .field--name-field-number {
        font-size: map-get($sizes, "xlarge");
        line-height: 50px;
        font-weight: 600;
        letter-spacing: 3px;
        margin-top: 10px;
      }
      .field--name-field-name {
        font-size: map-get($sizes, "base");
        text-transform: uppercase;
        font-weight: 500;
      }
      &:after {
        content: '';
        height: 0;
        width: 100%;
        background-color: color(background, color-2);
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
        transform-origin: top;
        transition: all .8s;
      }
      &:hover {
        border-color: color(border, color-1);
        transform: translateY(-15px);
        .field--name-field-image {
          border-color: color(border, color-5);
        }
        &:after {
          height: 100%;
          top: auto;
          bottom: 0;
          transform-origin: bottom;
        }
      }
    }
  }
  .bs-region--left, .bs-region--right {
    position: relative;
    z-index: 1;
  }
  .bs-region--left {
    .field--name-body {
      margin-top: 20%;
      font-size: map-get($sizes, "medium");
      position: absolute;
    }
  }
  .bs-region--right {
    .field--name-field-statistics {
      margin-top: 5%;
      position: absolute;
    }
  }
  .bs-region--bottom {
    padding: 0 !important;
    width: 100vw;
    margin-left: 50% !important;
    transform: translateX(-50vw);
    img {
      width: 100%;
    }
  }
}
#block-usericon {
  font-size: map-get($sizes, "half");
  a {
    color: color(text, color-3);
  }
}
#block-automatizamostuplantadeproduccion {
  .bs-region--main {
    display: flex;
    align-items: center;
    .fields {
      margin-right: map-get($sizes, "half");
      .field--name-block-description {
        margin-bottom: map-get($sizes, "half");
        h2 {
          font-size: map-get($sizes, "medium");
          font-weight: 600;
          line-height: 45px;
        }
      }
    }
    .field--name-field-image {
      position: relative;
      margin: map-get($sizes, "half");
      &:after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        right: 15px;
        top: 15px;
        border: 10px solid color(border, color-1);
        z-index: -1;
        transition: all .8s;
      }
    }
  }
}
#block-views-block-brands-block-1 {
  .views-row {
    text-align: center;
    .views-field-field-image {
      img {
        display: inline-block;
      }
    }
  }
}
#block-highlight {
  padding: 0 !important;
  width: 100vw;
  margin-left: 50% !important;
  transform: translateX(-50vw);
  .fields-text {
    position: relative;
    color: color(text, color-4);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .field--name-field-body {
      position: absolute;
      margin-top: 20%;
      display: flex;
      flex-direction: column;
      flex-basis: 100%;
      flex: 1;
      font-size: map-get($sizes, "half");
      width: 50%;
    }
    .hl-links {
      margin-top: 20px;
      .btn {
        font-size: map-get($sizes, "thumb");
      }
    }
  }
  .field--name-field-image {
    img {
      width: 100%;
    }
  }
}
#block-newsletterform {
  background-color: color(background, color-2);
  width: 100vw;
  margin-left: 50% !important;
  transform: translateX(-50vw);
  color: color(text, color-2);
  .webform-actions {
    .webform-button--submit {
      background: color(background, color-9);
      color: color(text, color-4);
    }
  }
}
.path-node {
  .bs-region--right {
    .field {
      margin-top: 20px;
      &:first-child {
        margin-top: 0;
      }
    }
  }
}
.page-node-type-webform {
  .page-header {
    display: none;
  }
  .bs-2col-stacked {
    position: relative;
  }
  .field--name-field-image {
    padding: 0 !important;
    width: 100vw;
    margin-left: 50% !important;
    transform: translateX(-50vw);
  }
  .webform-content {
    position: absolute;
    top: 20px;
  }
  .field--name-field-company-headquarters {
    .paragraph--type--company-headquarters  {
      background: #fff;
      border: 1px solid #505050;
      border-radius: 4px;
      padding: 20px;
      margin-bottom: 20px;;
    }
  }
  .field--name-webform {
    visibility: visible;
    animation-delay: 0.2s;
    animation-name: fadeInUp;
    box-shadow: 0 0 30px 0 rgba(0,0,0,.3);
    background: #fff;
    padding: 20px;
    border-radius: 4px;
    .contact-title {
      font-size: map-get($sizes, "medium");
      line-height: 35px;
      font-weight: 600;
      margin-bottom: 10px;
    }
    .form-item-description {
      line-height: 28px;
      margin-bottom: 24px;
      color: color(text, color-6);
    }
  }
}
.path-frontpage {
  .page-header {
    display: none;
  }
  .main-container {
    .region-content {
      section {
        padding-top: 20px;
      }
    }
  }
}
.path-node {
  .field--name-field-cover {
    padding: 0 !important;
    width: 100vw;
    margin-left: 50% !important;
    transform: translateX(-50vw);
  }
  .field--name-node-title {
    text-align: center;
    margin: 20px 0;
  }
}
.path-taxonomy {
  .view {
    .view-header {
      width: 100%;
      text-align: left;
    }
  }
}
.img-effect-zoom {
  overflow: hidden;
  img {
    transition: all .8s;
    box-shadow: 0 0 0 transparent;
  }
  &::before {
    width: 100%;
    height: 100%;
    opacity: 0;
    content: '';
    background: color(background, color-6);
    position: absolute;
    left: 0;
    top: 0;
    transition: all .8s linear;
    z-index: 1;
  }
  &:hover {
    img {
      transform: scale(1.2);
    }
    &:before {
      opacity: .5;
    }
  }
}
.field--name-field-acknowledgments {
  display: flex;
  justify-content: space-around;
  margin-top: 60px;
  .field--item {
    width: 100%;
    text-align: center;
    position: relative;
    .field--name-field-year {
      font-weight: 600;
      font-size: map-get($sizes, "thumb");
      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 0;
        border-top: 1px solid color(background, color-2);
        top: 44px;
        left: 0;
        z-index: -1;
      }
    }
    .field--name-dynamic-twig-fieldparagraph-circle {
      display: block;
      width: 30px;
      height: 30px;
      text-align: center;
      border: 1px solid color(background, color-2);
      border-radius: 50%;
      background-color: color(background, color-2);
      margin: auto;
    }
    .field--name-field-title {
      width: 50%;
      margin: auto;
    }
  }
}


@include mq-min(sm) {

}
@include mq-min(md) {
  .main-container {
    .region-content {
      section {
        .block-title {
          font-size: map-get($sizes, "large");
        }
      }
    }
  }
  .view-services {
    .service {
      padding: 20px;
      .views-field-title {
        font-size: map-get($sizes, "base");
      }
      .views-field-body {
        font-size: map-get($sizes, "small");
        height: 120px;
        color: color(text, color-5);
        display: block;
      }
    }
  }
  .view-industry {
    .industry {
      .views-field-title {
      width: calc(100% - 20%);
      left: 10%;
        .field-content {
          padding: 12px 50px 12px 30px;
          font-size: map-get($sizes, "small");
        }
        &:after {
          width: 40px;
          height: 40px;
          line-height: 40px;
        }
      }
    }
  }
  .block-content--type-statistics {
    .field--items {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
@include mq-min(lg) {

}
@include mq-min(xl) {

}
